/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);
@import url(https://fonts.googleapis.com/css?family=Merriweather:300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

html {
  background-color: rgb(0,25,53);
}
header#banner{
  position: fixed;
}

body {
  margin:0;
  background-color: transparent;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  color: white; 
  height: 95vh;
  overflow:auto;
}

.frozen {
  overflow: hidden;
}


div#log-run{
  display: flex;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  justify-content: space-evenly;
  align-content: center;
  margin-left:auto;
  margin-right:auto;
  width:fit-content;
}

div#feed{
  /* margin-top: 20px; */
  padding-top: 40px;
}


div#pic-nav-bind{
  margin-left:-85px;
  display: flex;
  flex-direction: row;
}

ul.post-nav#post-nav-buttons-list{
  display: flex;
  justify-content: space-evenly;
  /* margin-top:13px; */
  padding-left: 20px;
  padding-right: 20px;
}

img#pnii.post-nav{
  padding:4px;
}
div#spacer.post-nav{
  margin-left:auto;
  margin-right:auto;
}
img#pnii.post-nav:hover{
  transform: translateY(-8px);
}
label#post-nav-button-label.post-nav {
  margin-top: 100px;
}
div#post-nav-panel.post-nav{
  display:flex;
  flex-direction: row;
  background-color: rgb(255,255,255);
  height:104px;
  width: 540px;
  align-content: space-around;
  border-radius: 2px;
}
h2#post-nav-title{
  margin-bottom: 2.15vh;
  font-weight: 500;
}
li#post-nav-list-item div{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
}

div#post-index-container{
  margin-left:-85px;
}
div#pi-prof-box{
  display: flex;
  flex-direction: row;
  background-color: transparent;
  scroll-snap-align: start;
}

#pi-post-house{
  border-radius: 3px;
  background-color: rgb(255,255,255);
  width: 540px;
  color: black;
  font-family: Roboto Mono;
  font-size: 14px;
  font-weight: 375;
  
}

div#pi-prof-box.blog{
  border: .1px solid rgba(0, 0, 0, .1);
  border-radius: 3px;
}
img#pi-prof-pic.sticky{
  border-radius: 3px;
  width:64px;
  height:64px; 
  position: sticky;
  top: 72px;
}
img#pi-prof-pic.sticky:hover{
  cursor: pointer;
}
div#prof-slider-bounds.curr-user img{
  position: static;
}
div#prof-slider-bounds.curr-user{
  display: inline;
  overflow: hidden;
}
div#prof-slider-bounds{
  background-color: transparent;
  margin-right: 21px;
  height:inherit;
}
ul#post-index-list{
  margin-top: 22px;
}
li#post-item.post {
  display: flex;
  margin-top: 14px;
  margin-bottom: 16px;
  
  padding-bottom: 7%;
  position: relative;
}
div#post-opt-ainer{
  margin-top: -5px;
}

span#post-top{
  display: flex;
  flex-direction: row;
  width: 500px;
  border-radius: 3px 20px 0px 0px;
  font-size: 13px;
  padding:20px;
  justify-content: flex-start;
  font-weight: 500;
}
div#post-spacer-top {
  display: inline-flex;
  align-content: space-between;
  width: inherit;
}
div#post-top-row{
  flex-direction: row;
  justify-content: space-between;
}

div#post-options{
  align-self: flex-end;
  margin-right:0px;
  margin-left: auto;
  cursor: pointer;
  display: inline;
  align-items: center;
  justify-self: right;
}

li#drop-close-button.post-button-drop-down a{
  font-weight: 400;
}

li#drop-unfollow-button.post-button-drop-down button{
  color: red;

}

li#time-stamp{
  font-weight: 400;
  border-bottom: .2px solid rgba(0, 0, 0, .13);
}
li.post-button-drop-down{
  align-items: center;
  text-align: center;
  display:flex;
  height: 53px;
  width: 250px;
  justify-content: center;

}
li.post-button-drop-down:hover{
  background-color: rgba(0, 0, 0, .13)
}

div#drop-tainer.drop-down{
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 50%);
  color: black;
  display: inline-block;
  position: absolute;
  will-change: transform;
  width: 250px;
  height: auto;
  top: 0px;
  left: 0px;
  transform: translate3d(420px, 29px, 0px);
}

div#drop-tainer.hidden{
  display: none;
}

h3#post-author{
  display: inline;
  padding-right: 3px;
}
div#text-content.post{
  height:fit-content;
  padding:15px 21px 55px 21px;
  line-height: 24px;
}
h3#post-title{
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 17px;
}
p#text-content.post{
  font-weight: 325;
  color: rgb(24, 30, 32);
}